.certs{
    margin: 40px;
    color: white;
    font-family: 'Roboto',sans-serif;
  
    
}

.certs>h1{
    color: #64FFDA;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    text-decoration:underline ;
    text-decoration-color: #031530 ;
    font-family: 'Roboto',sans-serif;
    

    

}.certs>h1:hover{
    cursor: default;
    text-decoration: none;
    
    text-shadow: 5px 5px #08295c;
    transition: all ease-in-out 0.2s;

    

}
.certs-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.button-one {
    padding: 10px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #E71C23;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px  rgba(0, 0, 0, 0.473);
  }
  
  .button-one:hover {background-color: #c41a1f}
  
  .button-one:active {
    background-color: #c41a1f;
    box-shadow: 0 5px rgba(0, 0, 0, 0.473);
    transform: translateY(4px);
  }