.footer-div{
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #020C1B 10px ), repeating-linear-gradient( #020811, #020C1B );
    /* z-index: -1; */
    font-family: "Roboto", sans-serif;
    
}
.footer-col>h1{
    font-size: 24px;
    
}
.sub-div{
    padding: 150px 100px 150px 100px;
}
.footer-container{
    
    margin: 30;
}
.footer-row{
    display: flex;
    justify-content: center;
    
}
.footer-col{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 30px;
}
.button-footer {
    background: none;
    color: #64FFDA;
    border: #64FFDA solid 1px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-family:  monospace;
    font-size: 20px;
  }
  
  .button-footer:hover {background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #020C1B 10px ), repeating-linear-gradient( #020811, #020C1B );
    /* z-index: -1; */
transition: all ease-in-out 0.4s;
box-shadow: 5px 5px #64FFDA;}
  
  .button-footer:active {
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #020C1B 10px ), repeating-linear-gradient( #020811, #020C1B );
    /* z-index: -1; */
  }