.main-nav{
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
.navBar{
    color: white;
    padding-right: 40px;
    margin-left: auto;
}
.brand{
    color: #64FFDA !important;
    margin-left: 10px;
    font-weight: 600;
    font-size: 30px;
}
.brand:hover{
    color: #64FFDA !important;
    
    transition: all ease-in-out 0.3s;
    
    text-shadow: 3px 3px #07493a ;
}
.nav-item{
    
    padding: 0px 20px 0px;
    cursor: default;
    margin: none;
    
}
.navbar-dark .navbar-toggler {
    outline: none;
    box-shadow: none;
}
.navbar-dark .navbar-toggler:active {
    outline: none;
box-shadow: none;
}
.nav-item-text:hover{
    
 
    color: #64FFDA !important;
    
    transition: all ease-in-out 0.3s;
    
    text-shadow: 3px 3px #07493a ;
    
}
.nav-item-text{
    
    cursor: pointer;
}
.navbar-toggler{
    border: none;
}

@media only screen and (max-width: 600px) {
    .nav-item:hover{
        
        border-bottom: none;
        margin-bottom: 0px;
        
    }
  }