.card-div{
    margin: 40px;
    text-align: center;
    
}
.cards{
    padding: 25px;
    
}
.Button{
 margin-top: auto;   
}
.cardbody{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: transform .2s;
    border-radius: 10px;
    height: 100%;

}
.cardbody:hover{
    transform: scale(1.08);

}

.projects{
    font-family: "Roboto", sans-serif;
}
.projects>h1{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: underline;
    text-decoration-color: #E71C23;
    text-decoration-thickness: 7px ;
}
.projects>h1:hover{
    transition: transform .2s;
    
}