.skills{
    color: white;
    font-family: 'Robot', sans-serif;
    font-weight: 900;
    padding: 40px;
}
.button-skills {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    cursor: default !important;
    outline: none;
    color: #fff;
    background-color: #E71C23;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px  rgba(0, 0, 0, 0.473);
  }
.skill-container{
    
    
    
}

.skills>h1{
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
   text-decoration: underline;
   text-decoration-color: #E71C23;
   text-decoration-thickness: 10px ;
}
.padding{
    margin-bottom: 20px;
    
}