.workexp{
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #020C1B 10px ), repeating-linear-gradient( #020811, #020C1B );
    border: 1px solid #64FFDA;
    margin: 30px;
  padding: 30px;
  
}
.workexp {
    transform: perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;}
  
 .workexp:hover {
      transform: perspective(3000px) rotateY(5deg);
    }
  
.workexp>h1{
       color:#64FFDA ;
    font-family: sans-serif;
    font-weight: bold;
}
.workexp>h6{
       color:#64FFDA ;
    font-family: monospace;
    font-weight: bold;
}
.workexp>ul{
       font-family: monospace;
       color: #64FFDA;
}
.cred{
    background: none;
    color: #64FFDA;
    border: none;
    
}
.workhead{
    
    color: #64FFDA;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    text-decoration:underline ;
    text-decoration-color: #031530 ;
    font-family: 'Roboto',sans-serif;
    
    
}.workhead:hover{
    cursor: default;
    text-decoration: none;
    
    text-shadow: 5px 5px #08295c;
    transition: all ease-in-out 0.2s;

    
    
    
}